//
// Colors
//
$gray: #201f1f;

//
// Font
//
$font-size: 14px;

//
// Margins and Padding
//
$main-margin: 30px;
$fine-margin: 15px;

$container-padding-sm: 0 5%;
$container-padding-md: 0 10%;

$container-padding-column-sm: 10%;
$container-padding-column-lg: 20%;

$page-padding-bottom-sm: 200px; // Footer height
$page-padding-bottom-md: 80px;

$main-padding: 30px;
$fine-padding: 15px;

//
// Footer (width = 100% - container side padding * 2)
//
$footer-width: 100%;
$footer-height-sm: 200px;
$footer-height-md: 80px;