//
// Colors
//
$gray: #201f1f;
$red: #f92300;

//
// Font
//
$font-size: 14px;
$title-font: 'Roboto Mono',
monospace !important;
$body-font: 'Roboto',
sans-serif !important;

//
// Footer (width = 100% - container side padding * 2)
//
$footer-width: 100%;
$footer-height-sm: 200px;
$footer-height-md: 80px;