@import "variables";

// Extra small devices (portrait phones, less than 576px)

.header {
  height: 60px;
  padding-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-bottom: 2px solid #2d2d2d;

  a {
    color: $gray;
    text-decoration: none;
  }
}

.title {
  flex: 1 0 40%;

  h1 {
    margin: 0;
    line-height: 32px;
    font-weight: bold;
  }
}

.nav {
  flex: 1 0 60%;

  ul {
    padding: 0;
    margin: 0;
    float: right;
    list-style: none;

    li {
      margin-right: 20px;
      display: inline-block;

      &:last-child {
        margin-right: 0;

      }
    }

    .active {
      font-weight: bold;
    }
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

  .header {
    padding-top: 0;
  }

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .header {
    height: 80px;
  }

}