@import 'variables';
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono|Roboto:400,400i,900');

// Extra small devices (portrait phones, less than 576px)

html,
body {
  height: 100%;
  margin: 0;
  font-family: $body-font;
  font-size: $font-size;
  line-height: $font-size;
}

a {
  transition: 0.30s ease;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font;
}

a,
p,
span,
h1,
h2,
h3,
h4,
h5,
h6 {
  &::selection {
    color: $red;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 8rem 1fr 8rem;
  grid-template-areas:
    "nav"
    "page"
    "footer";
  padding: 0 $font-size;
  height: 100%;
  flex-grow: 1;

  .page {
    grid-area: page;
    flex-grow: 1;
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

  .container {

    .page {}
  }

}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .container {
    grid-template-columns: 20% 1fr 1fr 1fr 20%;
    grid-template-areas:
      ". nav nav nav ."
      ". page page page ."
      ". footer footer footer .";
    grid-gap: $font-size / 2;
    padding: 0;

    .page {}
  }

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .container {
    grid-template-columns: 23% 1fr 1fr 1fr 23%;

    .page {}
  }

}