@import "variables";

// Extra small devices (portrait phones, less than 576px)

.nav {
  grid-area: nav;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.title {}

.links {
  ul {
    list-style: none;
    margin: 0;

    li {
      display: inline-block;
      margin: 0 1.5rem 0 0;

      &:last-of-type {
        margin: 0
      }
    }

  }

  a {
    color: $gray;
  }
}


// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  .nav {}

  .title {}

  .links {}

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

  .nav {}

  .title {}

  .links {}

}